[diff "astextplain"]
    textconv = astextplain

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[http]
    sslBackend = openssl
# Windows
    sslCAInfo = C:/Program Files/Git/mingw64/etc/ssl/certs/ca-bundle.crt

[core]
    autocrlf = true
    fscache = true
    symlinks = true
    fsmonitor = true
    editor = code -w
    whitespace = trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    autocrlf = false

[pull]
    rebase = false

[credential]
    helper = manager

[credential "https://dev.azure.com"]
    useHttpPath = true

[init]
    defaultBranch = main  
# Changed from master to main for consistency

[user]
    name = Christopher Alphonse
    email = 

[github]
    user = christopheralphonse

[merge]
    ff = only  # Fast forward only

[diff]
    mnemonicprefix = true
    compactionHeuristic = true

[alias]
    a = add
    ci = commit -v
    d = diff
    dif = diff
    l = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    lo = log -1 --pretty='%C(red)%H%nAuthor: %C(green)%an%n%C(magenta)%s%n%b'
    ls = branch -a
    circle = !gh pr checks
    open = !gh browse
    pr = !gh pr create --fill
    rebase = rebase  # Fixed misspellings
    rubocop = "!git status --porcelain | cut -c4- | grep '.rb' | xargs bundle exec rubocop"
    s = status --short --branch
    spec = "!bundle exec rspec `git ls-files --modified --others spec | grep _spec`"
    unstage = reset
    wip = !git add . && git commit -m '[ci skip] WIP'

    # Typos
    push = push
    pull = pull
    branch = branch

[push]
    default = simple
    autoSetupRemote = true
