
.codicon-arrow-right, .codicon-arrow-left {
    display: none !important;
}

.monaco-editor-hover, .monaco-hover {
    box-shadow: 0em 0.5em 1.5em rgba(0, 0, 0, 0.5) !important;
    background: rgba(40, 42, 54, 0.5) !important;
    backdrop-filter: blur(0.375em) !important;
    border: 0.0625em solid rgba(255, 255, 255, 0.15) !important;
}

.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0em 0.5em 1.5em rgba(0, 0, 0, 0.5) !important;
    padding: 0.75em 0.75em 1.25em 0.75em !important;
    background: rgba(40, 42, 54, 0.5) !important;
    backdrop-filter: blur(0.375em) !important;
    border-radius: 0.5em !important;
    border: 0.0625em solid rgba(255, 255, 255, 0.15) !important;
}

.sidebar > .composite {
    height: 2.6em !important;
}

.title-label, .title-actions, .titlebar-center, .titlebar-right {
    display: none !important;
}

.hover-row, .status-bar {
    box-shadow: 0em 0.5em 1.5em rgba(0, 0, 0, 0.3) !important;
    padding: 0.625em !important;
    background: rgba(40, 42, 54, 0.5) !important;
    backdrop-filter: blur(0.375em) !important;
}

.line-numbers {
    position: relative !important;
    width: 1em !important;
    font-size: 1.5em !important;
    font-family: 'monospace' !important;
    opacity: 0.3;
}

.monaco-editor .scroll-decoration {
    box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.75) !important;
    top: -0.375em !important;
}

.part.sidebar {
    box-shadow: 0em 0em 3.125em rgba(0, 0, 0, 0.25);
}

.monaco-list.list_id_1 .monaco-list-row.selected {
    background-color: #4f5971 !important;
    opacity: 1 !important;
    border-top: 0.0625em #727b90 solid;
    border-bottom: 0.0625em #727b90 solid;
}

.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
    color: #fff !important;
    opacity: 1 !important;
}

.notifications-toasts .monaco-list-row:hover {
    background: none !important;
}

.quick-input-filter .monaco-inputbox {
    border-radius: 0.5em !important;
    padding: 0.5em !important;
    border: 0.0625em solid rgba(255, 255, 255, 0.15) !important;
    background: rgba(40, 42, 54, 0.5) !important;
    backdrop-filter: blur(0.375em) !important;
    margin-bottom: 1em !important;
}

.monaco-list-rows {
    background: transparent !important;
    font-size: 1.2em !important;
}

.monaco-list-row:hover {
    background: rgba(0, 0, 0, 0.2) !important;
}

.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
}

.slider {
    position: absolute !important;
    right: 0.0625em !important;
    width: 1em !important;
    background: #2BA59D !important;
    left: auto !important;
}
